<h1>Dashboard</h1>


<div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Products</th>
          <th>Categories</th>
        </tr>
      </thead>
      <tbody>
        <td><%= link_to @products.inspect,  [:admin, :products] %></td>
        <td><%= link_to @categories.inspect,  [:admin, :categories] %></td>
      </tbody>
    </table>
  </div>
