<h1>JUNGLE</h1>
<article>
  <p>The unexpected is our normal routine. You enjoyed that. What? We're not at all alike! My oath is between Captain Kargan and myself.   Your head is not an artifact! I can't. As much as I care about you, my first duty is to the ship.</p>

  <p>Your only concern is with how you obey my orders. Or do you prefer the rank of prisoner to that of lieutenant? and attack the Romulans.</p>

  <p>You bet I'm agitated! I may be surrounded by insanity, but I am not insane. That might've been one of the shortest assignments in the history of Starfleet.</p>
</article>
